/*
 _____   _           _         _                        _
|_   _| | |         | |       | |                      | |
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams.
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 12px;
}
.unbehaved-element {
    font-size: 2em;
}
@media(max-width: 1280px) {
  html {
    font-size: 10px;
  }
  .unbehaved-element {
    font-size: 1.9em; /* Fine tune unbehaved elements */
  }

}

@media(max-width: 970px) {
 	li a {
		min-width:10rem !important;
	  }
}

 @media(max-width: 480px) {
  html, body {
    font-size: 8px !important;

  }
  .aspect-ratio iframe {

  width: 100%;
  height: 100%;
  position: absolute;
  top:60%;


}
  .div-esq
  {
  	width:40% !important;
  }

  .div-dir
  {
  	width:60% !important;
  }


  .frame
	{


	width:100%;
	height:480px !important;


  overflow:hidden;

  position:relative !important;

  border:1px solid #999999;
 }
}
@media(max-width: 460px) {
  html {
    font-size: 6px;
  }
  .unbehaved-element {
    font-size: 1.8em; /* Fine tune unbehaved elements */
  }
}

@font-face{font-family: Myriad;
         src: url('../fonts/MyriadProfont-weight:300ar.otf');

}


@font-face{font-family: Quicksand;
         src: url('../fonts/Quicksand_Book.otf');
        font-weight:light;
}

@font-face{font-family: Quicksand-bold;
         src: url('../fonts/Quicksand_Bold.otf');
		font-weight:bold;
}


@font-face{font-family: Futura;
         src: url('../fonts/Futura LT Condensed Light.ttf') format('truetype');

}

html,
button,
input,
select,
textarea {
    color: #222;
	font-family: Myriad, sans-serif;
}

/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	float:left;

}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/


.slicknav_menu a
{
	display:block;
	min-width:14rem;
	font-size:2rem;
	height:  100%;
	text-align: center;
	line-height: 5rem;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	background: #000000;
	text-decoration: none;

}


.li-menu{
	height: 95% !important;
	margin-top: 0.1em;
}


li a {
	display:block;
	min-width:14rem;
	font-size:1.5rem;
	height:  100%;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
	background:#28201a;
	text-decoration: none;
	opacity:.9;
	padding-top: 4%;
}

/*Hover state for top level links*/
li:hover a {
	background: #FFFFFF;
	text-decoration: none;
	color:#28201a;
	opacity:.9;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}
 *{

 box-sizing: border-box;
    -moz-box-sizing: border-box;}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;

	background: white;
	text-align: center;
	padding: 10px 0;
	display: inline-block;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;

	}
	#header
	{

		display:none;
	}
	#wrapper-menu
	{
		display:none;
	}
	.imagem-menu
	{
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
}
/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}






}

#header {
	position: fixed;
	margin-top:0;
	vertical-align:middle;
	height:6%;
	max-height:80px;
	width:100%;
	z-index: 10;
	border-bottom:1px solid #cecece;
	border-bottom-color:#28201a;

}
.inner {
	width: 80%;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	float:right;
	font-size: 1rem;

	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}

.active {
	background: #F44A4A;
	color:white;
}
.end {
	margin: 0;
}

#menu_img
{
height:100%;
position:absolute;
}

#menu_background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #28201a;
  z-index: -20;
}


.input-login{
    border: 0;
    outline: 0;
    background: transparent;
    color:#28201a;
    border-bottom: 2px solid #28201a;
	width:70%;
	display:block;
	max-width:400px;
	margin-top:3%;
	padding-top:2%;
	padding-bottom:2%;

}

.input-login:hover, .input-login:focus{
    border: 0;
    outline: 0;
    background-color:rgba(40, 32, 26,0.1);
    border-bottom: 2px solid #28201a;
    color:#28201a;
	width:70%;
	max-width:400px;
	margin-top:3%;
	padding-top:2%;
	padding-bottom:2%;
}

.botao-login{
	background:transparent;
	width:20%;
	max-width:150px;
	text-align:center;
	color:#28201a;

	margin-top:3%;
	padding-top:1%;
	padding-bottom:1%;

	border: 1px solid #28201a;
	cursor:pointer;
}

.botao-login:hover, .botao-login:focus{
	background:transparent;
	width:20%;
	max-width:150px;
	text-align:center;
	background-color:rgba(40, 32, 26,0.1);
	color:#28201a;

	margin-top:3%;
	padding-top:1%;
	padding-bottom:1%;

	border: 1px solid #28201a;
	cursor:pointer;

}

.input-login:hover, .input-login:focus{
    border: 0;
    outline: 0;
    background-color:rgba(40, 32, 26,0.1);
    border-bottom: 2px solid #28201a;
    color:#28201a;
	width:70%;
	max-width:400px;
	margin-top:3%;
	padding-top:2%;
	padding-bottom:2%;
}

.botao-login{
	background:transparent;
	width:20%;
	max-width:150px;
	text-align:center;
	color:#28201a;
	
	margin-top:3%;
	padding-top:2%;
	padding-bottom:2%;
	
	border: 1px solid #28201a;
	cursor:pointer;
}

.botao-login:hover, .botao-login:focus{
	background:transparent;
	width:20%;
	max-width:150px;
	text-align:center;
	background-color:rgba(40, 32, 26,0.1);
	color:#28201a;
	
	margin-top:3%;
	padding-top:2%;
	padding-bottom:2%;
	
	border: 1px solid #28201a;
	cursor:pointer;
}


body {
    font-size: 1em;
    line-height: 1 !important;
	margin: 0 auto;width: 100%; height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	height:100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


.lista-line
{

 -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
 display:block;
 max-width: 800px;
background: #E74C3C;
  margin: 0 auto 1em;
  height: 30%;
  max-height:150px;
  border:2px solid #FFFFFF;
   border-radius: 1em 4em 1em;
  color: white;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
	padding-left:10px;
	padding-right:10px;
	min-height:3em;
}
.lista-img
{
	float:left;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:20%;
  max-width:90px;
  min-width:15px;

}
.videozao
{


  width:100%;
}

.video_wrapper
{

  position:relative;
  height:100%; display: inline-block;

}

.aspect-ratio
{
	position: relative;
  width: 100%;
  height: 0;
  margin-top:25px;
  padding-bottom: 51%;
  position: relative;

}

.aspect-ratio iframe {

  width: 100%;
  height: 100%;
  position: absolute;



}
.lista-img img
{
	width:100%;

}
.lista-text-row	p
{
	font-size:1.3rem;



}


.lista-text-row
{
	float:left; width:80%;
	padding-top:5px;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left:5px;

}

.lista
{

	height:80%;
	position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  padding-left:5px;

}
.lista-icon-title
{


}

#wrapper{

	min-height:100%;
	min-width:320px;
	width:100%;
	margin: 0 auto;
}

.mini_wrapper
{
	margin:0 auto;
	width:95%;
	max-width: 1200px;
	min-width:320px;
	height:100%;

}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100% !important;
	min-height: 100% !important;
	background-color: #F2F2F2;
	padding:0;
	margin:0 !important;
}
body {

}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('ico_loading.gif') no-repeat center center;
}
section {
	margin-top:0px;
	min-width: 320px;
	opacity: 0;
	width:100%;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;

}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	position: absolute;

	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	padding-left:2em;
	min-height:200px;
	bottom:10%;
	margin:0 auto;
	color:#000000;
	overflow: hidden;
	position: absolute;
	background:rgba(255,255,255,0.9) ;
}


.hsContent h1  {
		color: #D90000;
		background-color: rgba(0,0,0,0.2);
		padding: 10px 5px;

		font-size: 2.5rem;
		line-height: 48px;
		margin-bottom: 32px;
	}

	.hsContent h2  {
		color: #D90000;

		background-color: rgba(0,0,0,0.2);
		padding: 10px 5px;
		font-size: 2rem;
		line-height: 38px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		color: #F2F2F2;
	}
	.hsContent a {
		color: #b2b2b2;
		*text-decoration: underline;
	}
.hsContentDesc {


	 margin-left:5em;

}
.hsContentDesc h2 {
		font-size:2.5em;
	max-width:700px;
	font-family:'Roboto Condensed', sans-serif !important;
	font-weight:300 !important;
	color:#777777;

}


.hsContentDesc h1 {
		font-size:4em;
	font-family:'Roboto Condensed', sans-serif !important;
	font-weight:300 !important;
	color:#D90000;

}
.hsContentDesc h4  {
	color: #D90000;
	*background-color: rgba(0,0,0,0.5);
	padding: 10px 5px;
	max-width:700px;

	margin-bottom: 12px;
}
	.hsContentDesc p {
		width: 400px;
		color: #D90000;
	}
	.hsContentDesc a {
		color: #b2b2b2;
		*text-decoration: underline;
	}
/* Slide 1 */
#slide-1 .bcg {background-image:image-url('slide01.png')}

.faixa
{
	width:100%;
	height:40%;
	bottom:0px;
	position:absolute;

	margin-bottom:0px;
	bottom: 0;
}

.icon-title{
	color:white;
	font-weight:bold;
}
.fundo_bottom
{
	text-align:center;
	background-color:#F44A4A;
}
.fundo_top{

}

.simple-row {
  width: 100%;
  height:auto;
  overflow:auto;
  margin: 0 auto;
}

.row-block {
  float: left;


}




.title-frame
{

	font-size:3rem;

	text-align:left;
	width:50%;
	font-family:'Roboto Condensed', sans-serif !important;
	font-weight:300 !important;
	color:#F44A4A;
	position:absolute;
	top:40%;
	left:45%;
	margin-left: auto;
    margin-right: auto;
}

.img-frame
{
	font-size:2.5rem; color:white;right:60%;
	width:80%;
	 position: relative;
  top: 30%;
 float:right !important;
 margin-right:1em ;
  margin-left:2em;
  transform: translateY(-30%);

}

.title-frame2
{
	color:#DF2F1C;

		font-family:'Roboto Condensed', sans-serif !important;
	font-weight:300 !important;

}
.text-frame-title
{
	font-family:'Roboto Condensed', sans-serif !important;
	font-weight:300 !important;
	color:#DF2F1C;
	font-size:2.0rem
}

.text-frame
{
	font-family:'Roboto Condensed', sans-serif !important;
	font-weight:300 !important;
	font-size:1.8rem; color:#444444;left:40%;
	width:60%;
	padding-left:1em;
	padding-right:1em;
	text-align:left;
	 position: relative;
  top: 30%;

  transform: translateY(-30%);
}





.img-left{
	float:left;
	width:20%;
	min-width:80px;

	padding-left:5%;

	vertical-align:middle;
}

.img-left img{

	padding: 20% 0;
	width:100%;

	vertical-align:middle;
}
.text-enum-left{
	width:80%;
	min-width:100px;
	padding-left:6%;
	float:left;
	height:25%;
	text-align:left;

	color:#FFFFFF;

	font-size:4rem;
}

.text-enum-right{
	width:60%;
	float:right;
	position:aboslute;
	right:0px;
	height:20%;
	text-align:left;
	magin:0 0 0 auto;
	padding-left: 20px;
	color:#FFFFFF;
	padding: 12% 0;
	font-size:6rem;
	vertical-align:middle;

}


.preenchimento
{
	width:100%;
	height:100%;




	background-color:#D90000;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
/* Slide 2 */

#slide-2 .bcg {background-image:image-url('slide02.png')}


/* Slide 3 */
#slide-3 .bcg {background-image:image-url('slide03.png')}




/* Slide 4 */
#slide-4 .bcg {background-image:image-url('slide04.png')}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.paint-red
{
	height:50%;
	background-color:#F44A4A;
	position:relative;
}

.paint-white
{
	height:50%;
	background-color:white;
	position:relative;
}
 .frame
 {

  position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.15) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.15) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.15) inset;
  width:100%;
  height:650px;


  overflow:hidden;

  position:relative !important;

  border-top:2px solid #DDDDDD;
  border-bottom:2px solid #DDDDDD;
 }

 .slide{

   position:relative !important;

 }
/*
 * Image replacement
 */
.inner-frame{
	margin: 0 auto !important;
	display:inline-block;
	width:100%;
  text-align:center;
  min-width:320px;

  display: inline-block !important;
 height:100%;
	position:absolute;
}

#5-icons .simple-row
{

}

.simple-row1
{

  height:auto;
  overflow:auto;
  margin: 0 auto;
	width:100%;
	max-width:1200px;
	min-width:320px;
}
.row-block-text{
	width:80%;
	float:left;

}
.row-block-icon{

	float:left;
	width:15%;

}

.row-block-icon img{

	width:100%;

}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 400px) {
    /* Style adjustments for viewports that meet the condition */


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
